{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        {% block cssfiles %}{% endblock cssfiles %}
        <style>
        </style>
        <title>Zoe</title>
    </head>
    <body>
        <nav class="navbar navbar-light bg-white sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand ml-4 mr-4" href="{% url 'home' %}"><b>Zoe</b></a>
                <div class="d-flex justify-content-right">
                    {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'post-create' %}"> <img src="{% static 'icons/image.svg' %}" alt="" width="30" height="30"/> </a>
                    {% comment %} <a class="nav-item nav-link" href="{% url 'add-' %}"> <img src="/media/icons/person-plus-fill.svg" alt="" width="30" height="32"/> </a> {% endcomment %}
                    <a class="nav-item nav-link" href="{% url 'my_profile' %}"> <img src="{% static 'icons/person-circle.svg' %}" alt="" width="30" height="30"> </a>
                    <div class="nav-item dropdown">
                        <a class="nav-link" data-bs-toggle="dropdown" role="button" aria-expanded="false"> <img src="{% static 'icons/justify.svg' %} " alt="" width="30" height="30"> </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#"><img src="{% static 'icons/gear.svg' %}">   Settings</a></li>
                            <li><a class="dropdown-item" href="{%url 'logout' %}"><img src="{% static 'icons/box-arrow-right.svg' %}">   Log Out</a></li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock content %}
        </div>
        <footer class="page-footer font-small black">
            <div class="footer-copyright text-center py-3">Zoe © 2021
                <br><small class="text-muted">All rights reserved</small>
            </div>
        </footer>
        <!-- JS Files -->
        {% comment %} <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> {% endcomment %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>
        {% block jsfiles %}{% endblock jsfiles %}
    </body>
</html>
