{% extends "feed/layout.html" %}
{% load static %}
{% block cssfiles %}
{% endblock cssfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if not posts %}
            <br>
            <h2><i>No posts match the tag provided!</i></h2>
            {% endif %}

            {% for post in posts %}
            <div class="card card-signin my-5">
                <div class="card-body">
                    <a href="{{ post.user_name.profile.get_absolute_url }}"><img src="{{ post.user_name.profile.get_image_url }}" class="rounded-circle" width="30" height="30" alt=""></a>
                    <a class="text-dark" href="{{ post.user_name.profile.get_absolute_url }}"><b>{{ post.user_name }}</b></a>
                    <br><small class="text-muted">Posted on {{ post.date_posted }}</small>
                    <br><br>
                    <p class="card-text text-dark">{{ post.description }}</p>
                </div>
                <a href="{% url 'post_detail' post.id %}"><img class="card-img-top" src="{{ post.pic.url }}" alt=""></a>
                {% if post.tags %}
                <br><p class="text-danger ml-3"><b>Tags: <i>{{ post.tags }}</i></b></p>
                {% endif %}
                <div class="card-footer">
                    <a class="btn btn-outline-info" href="{% url 'post_detail' post.id %}">Comments | {{ post.details.count }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}
